# used to interact with pinata so we can upload art to ipfs
PINATA_API_KEY=...
PINATA_API_SECRET=...

# used to interact with the artwall account to retrieve the art collection
# $ cat keypair.json | jq -rc "._keypair.publicKey"
# or, copy and paste the publicKey object from keypair.json here
NEXT_PUBLIC_ARTWALL_PUBLIC_KEY=...

# used as apart of a one time initialization script
# remember to clean up when you finish
# $ cat keypair.json | jq -rc "._keypair.secretKey"
# or, copy and paste the secretKey object from keypair.json here
ARTWALL_SECRET_KEY=...

# $ solana config get | grep 'RPC URL' 
ANCHOR_PROVIDER_URL=...

# $ solana config get | grep 'Keypair Path'
ANCHOR_WALLET=...